/* Alinear imágenes al centro */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1.5px solid white; /* Borde blanco de 2px */
    padding: 2px; /* Espacio entre la imagen y el borde */
    max-width: 500px; /* Tamaño máximo de la imagen */
    width: 100%; /* Asegura que se ajuste al contenedor */
}

#footer {
    display: inline;
}